@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProtoMono-Light";
  src: url("../public/fonts/proto-mono-light/webfonts/proto-mono-light.ttf");
}
@font-face {
  font-family: "ProtoMono-LightShadow";
  src: url("../public/fonts/proto-mono-light-shadow/webfonts/proto-mono-light-shadow.ttf");
}
@font-face {
  font-family: "ProtoMono-SemiBold";
  src: url("../public/fonts/proto-mono-semi-bold/webfonts/proto-mono-semi-bold.ttf");
}
@font-face {
  font-family: "ProtoMono-SemiBoldShadow";
  src: url("../public/fonts/proto-mono-semi-bold-shadow/webfonts/proto-mono-semi-bold-shadow.ttf");
}
@font-face {
  font-family: "Do-Hyeon";
  src: url("../public/fonts/do-hyeon/DoHyeon-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: Do-Hyeon, sans-serif, Arial, Helvetica, -apple-system;
}

html {
  background: url("../public/images/splash-bg-home.svg");
  background-repeat: repeat;
  background-position: top;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
